<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
form{
	width:430px;
	height:400px;}
</style>
</head>

<body>
   <form  name="form3" method="post" action="viewdb.php">
   <br /><br /><br /><br /><br /><br />
   <table width="372" height="76" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" class=out_black>
	<tr class="header">
		<td height="100" colspan="2" align="center" ><font size="+3">查询订单</font></td>
	</tr>
	<tr>
		<td width="33%" height="26" bgcolor="#FFFFFF"><font size="+2">电话号码:</font></td>
		<td bgcolor="#FFFFFF"><input name="telephone" type="text" class="txt_input" tabindex="1" size="25" maxlength="40" style="width:200px;"></td>
	</tr>
	<tr>
	  <td colspan="2" bgcolor="#FFFFFF">
	  	<center><input type="submit" name="checksubmit" value="查询" style="cursor:pointer;" class="button" /></center>
		
      </td>
	</tr>
</table>
</form>
</body>
</html>
